/* Add here all your CSS customizations */
/*box head news*/
.box-item {
    float: left;
    opacity: 1;
    overflow: hidden;
    position: relative;
}

.box-item img {
    width: 100%;
}
.box-item a {color:#FFF;}

.box-item .box-post span.meta {
    font-family:  sans-serif;
    font-size: 12px;
    color: #fff;
    margin-top: 15px;
    display: block;
}

.box-item .box-post span.meta span {
    margin-right: 15px;
}

.box-item .box-post {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background:rgba(0,0,0,0.6);
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box-item .box-post h1.post-title {  
   margin-bottom:10px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*
* Box depan
*/
.custom-thumb-info-4 {
	border: none;
	padding-bottom: 10px;
	overflow: initial;
    max-width:100%;     
}

.custom-thumb-info-4:hover .thumb-info-wrapper:before {
	background: rgba(0, 0, 0, 0.25);
}
.custom-thumb-info-4:hover .thumb-info-wrapper:after {
	top: 50%;
	opacity: 1;
}
.custom-thumb-info-4 a {
	cursor: pointer;
}
.custom-thumb-info-4 .thumb-info-wrapper:before {
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
	background: transparent;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}
.custom-thumb-info-4 .thumb-info-wrapper:after {
	-webkit-transition: top 0.2s, opacity 0.2s;
	-moz-transition: top 0.2s, opacity 0.2s;
	transition: top 0.2s, opacity 0.2s;
	background: transparent;
	color: #FFF;
	font-size: 30px;
	height: 30px;
	position: absolute;
	top: 30%;
	margin-top: -15px;
	display: block;
	text-align: center;
	width: 100%;
	opacity: 0;
	z-index: 3;
}
.custom-thumb-info-4 .thumb-info-wrapper.active {
	box-shadow: 0px 0px 60px -3px #8b8b8b;
}
.custom-thumb-info-4 .thumb-info-caption {
	position: relative;
	display: block;
	width: 90%;
	margin: -37px auto 0;
	padding: 5px;
	background: #FFF;
	z-index: 1;
    border-bottom : 1px solid #d2322d;
}
.custom-thumb-info-4 .thumb-info-caption .thumb-info-caption-text {
	padding: 0;
}
.custom-thumb-info-4 .thumb-info-caption h4 {
	margin: 0;
	line-height: 1.5;
}

.options {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: auto;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header1 {
  /*padding: 10px 16px;*/
  background: #fff;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
}

.sticky + .content {
  padding-top: 102px;
}

/*.container {
  margin: 50px;
}
*/
.card {
  width: auto;
  max-width: 500px;
  border-radius: 3px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Arial;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.card2 {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Arial;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card2:hover {
  transform: scale(1.03);
}

img {
  border-radius: 3px 3px 0 0;
  width: 100%;
  overflow: hidden;
}

.content {
  padding: 20px;
  
}

.title {
  font-weight: 700;
  color: hsl(0, 0%, 14%);
  padding-bottom: 10px;
}

.text {
  font-weight: 400;
  color: hsl(0, 0%, 30%);
}

.social {
  font-weight: 400;
  color: hsl(0, 0%, 50%);
  padding: 20px;
  text-align: right;
}

.views, .likes {
  display: inline;
}

.likes {
  cursor: pointer;
}

.likes:hover {
  color: #1D1F20;
}


.news-slider {
               position: relative;
               margin-top: 30px;
          }

          .news-slider h2 {
               font-size: 42px;
               text-align: center;
               color: #333;               
               padding: 12px;
          }

          .btmline {
               margin: auto;
               height: 6px;
               border-radius: 4px;
               width: 54px;
               background: #143464;
          }

          .news-slider .heading{
               height: 54px;
               overflow: hidden;
               text-overflow: ellipsis;
               margin-bottom: 6px;
               font-size: 18px;
               font-weight: 500;
               line-height: 1.5;
               text-align: left;
          }

          .news-slider .owl-stage-outer {
               padding: 30px 0;
          }

          .news-slider .owl-nav {
               display: none;
          }

          .news-slider .owl-dots {
               text-align: center;
          }

          .news-slider .owl-dots span {
               position: relative;
               height: 10px;
               width: 10px;
               border-radius: 50%;
               display: block;
               background: #c4c4c4;              
               margin: 0 5px;
          }

          .news-slider .owl-dots .active {
               box-shadow: none;
          }

          .news-slider .owl-dots .active span {
               background: #ff5050;
               box-shadow: none;
               height: 12px;
               width: 12px;
               margin-bottom: -1px;
          }

          .news-slider .card-new {
               background: #fff;
               box-shadow: 0 8px 30px -7px #c9dff0;
               margin: 0 20px;
               padding: 0 10px;
               border-radius: 20px;
               border: 0;
               overflow: hidden;
          }

          .news-slider .card-new .card-img-thumb {
               height: 220px;
               overflow: hidden;
               margin: 0 -10px;
          }

          .news-slider .card-new .card-img-thumb img{
               width: fit-content; 
               min-width: 100%;
          }

          
          .news-slider .card-new h5 span {
               font-size: 18px;
               color: #666;
          }

          .news-slider .card-new p {
               font-size: 18px;
               color: #555;
               padding-bottom: 15px;
          }


          .card-text{
               text-align: left;
               height: 102px;
               overflow: hidden;
               text-overflow: ellipsis;
          }

         

          @media (max-width: 767px) {
               .news-slider {
                    margin-top: 20px;
               }
          }

          .owl-carousel .owl-nav button.owl-next,
          .owl-carousel .owl-nav button.owl-prev {
               outline: 0;
          }

          .owl-carousel button.owl-dot {
               outline: 0;
          }

          .card-footer{
               background: transparent;
               font-size: 18px;
               color: #444;
               padding-top: 28px;
          }
      }

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
}
.jumbotron div {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-bottom: 0px;
}

.font1 {
    color: white;
    
}

@media (max-width: 700px) {
#image-banner {
  height: 600px;
}

@media (max-width: 700px) {
.options {
  width: 250px;
}

@media (max-width: 700px) {
#slide-caption {
  padding-top: 150px !important;
}

@media (max-width: 700px) {
#dashboard {
  padding-top: 50px !important;
}


.jumbotron {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.btmline2 {
               margin: auto;
               height: 6px;
               border-radius: 4px;
               width: 100px;
               background: #143464;
          }

          .animation-box {
  width: 75%;
  height: 27.5rem;
  background-color: blue;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
  
}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.first-text {
  font-size: 4.4rem;
  position: absolute;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: white;
}

.second-text {
  font-size: 3.4rem;
  position: absolute;
  top: 8.5rem;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 3s;
  animation-duration: 6s;
  color: #ccc;
}

.third-text {
  transform: rotate(-90deg);
  font-size: 2rem;
  position: absolute;
  left: 45%;
  top: 45%;
  opacity: 0;
  animation-name: topFadeOutVertical;
  animation-delay: 7.5s;
  animation-duration: 6s;
  color: #A3DDF0;
  white-space: nowrap;
}

.fourth-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeInOut;
  animation-delay: 8.5s;
  animation-duration: 9s;
}

.fifth-text {
  font-size: 5rem;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  color: #F0EBA3;
  animation-name: bottomFadeOut;
  animation-delay: 10s;
  animation-duration: 9s;
}

#wrapper { position: relative; }

/* Aside in non-scroll mode */
aside {
 float: left; /* Keeps the aside to the left and on top */
 margin-top: 5px;
 padding: 15px 0 15px 8px;
 width: 267px;
}

@media (max-width: 700px) {
#header22 {
  display: unset !important;
  text-align: left !important;
}

@media (max-width: 700px) {
#header22 {
  display: unset !important;
  text-align: left !important;
}

@media (max-width: 700px) {
#clock1 {
  text-align: left !important;
}

@media (max-width: 700px) {
.image-logo {
  height: auto !important;
  width: 100% !important;
}

@media (max-width: 700px) {
#mainNav {
  display: grid !important;
}

#header .header-btn-collapse-nav {
    background-color: #143464;
}

@media (max-width: 700px) {
.slide-text-heading {
  width: 250px;
  font-size: 16px !important;
}
